# Sensitive information
.env

# Python compilation files
__pycache__/
*.pyc

# Virtual environment (never commit your local libraries)
.venv/
venv/
env/

# IDE settings (PyCharm)
.idea/

# Output files
*.png